.document-container {
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    align-items: stretch;
}

.document-icon {
    height: 50px;
    width: 50px;
}

.document-modal-content {
    display: inline-block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.document-modal-container-btn {
    display: flex;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 50%);
}

.document-modal-btn {
    width: 140px;
    margin: 0 40px;
}

@media only screen and (max-width: 576px){
    .document-modal-container-btn {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, 50%);
    }

    .document-modal-btn {
        width: 80vw;
        margin: 10px 50px;
    }
}

.connect-wallet-container {
    display: flex;
    flex: 1 1 auto;
    padding: 50px;
    margin: 10px;
    align-items: center;
}
